.footer{
    background-image: linear-gradient(to right bottom,
rgba(0,0,0,0.5),
rgba(0,0,0,0.5)
), url('./../img/book-cover.jpeg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: white;
padding: 30px;
margin-top: 40px;

}