.navbar-transparent{
overflow: hidden;
background: black;
z-index: 2;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Open Sans Condensed', sans-serif;
   


  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
 

